

canvas {
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1500px;
    aspect-ratio: 320/180;    
    image-rendering: pixelated;
}

#canvas-platform {
    background-color: transparent;


}

#canvas-background {
    background-color: aliceblue;
}


